include ../main-layouts/header.pug


block cssLink 
  link(rel='stylesheet' href='/css/arayuz.css')

block title 
  title Anasayfa
 
  include ../main-layouts/navbar.pug  


  .d-flex.justify-content-center.container
    .col-md-12
      .card-hover-shadow-2x.mb-3.card
        .card-header-tab.card-header.h-10
          .card-header-title.font-size-lg.text-capitalize.font-weight-normal.p-3
            i.fa.fa-tasks
            | &nbsp; Yapılacaklar Listesi
          .card-header-title.font-size-lg.text-capitalize.font-weight-normal.p-3.justify-content-around.menus
            form(action=`/homepage/statusPage/${data.id}`, method="post")
              select.form-select.p-2.mr-3(name='status' id='status')
                each status in allStatus
                    if(status.name == activeStat.name)
                      option(value=`${status.id}` name='statusName' selected) #{status.name}
                    else 
                      option(value=`${status.id}` name='statusName') #{status.name}
              button.btn.btn-info(type='submit') Göster
            
        .scroll-area-sm
          perfect-scrollbar.ps-show-limits
            .ps.ps--active-y(style='position: static')
              .ps-content

                ul.list-group.list-group-flush.taskGroup
                  - var i = 0;
                  each task in tasks
                    if(activeStat.name != "Tümünü Gör")
                      if(task.status == activeStat.name)
                        if(task.complete == true)

                          li.list-group-item.complated
                            .todo-indicator.bg-success
                            .widget-content.p-0
                              .widget-content-wrapper
                                .widget-content-left
                                  .widget-heading
                                    | #{task.title}
                                    .badge.badge-success.ml-2 
                                      | Tamamlandı
                                  .widget-subheading
                                    i Görevden Sorumlu : #{task.employee}
                                .widget-content-right

                                  if(task.employee.includes(data.fullName) || data.isAdmin == true)

                                    button.border-0.btn-transition.btn.btn-outline-success(type='button' data-bs-toggle='modal' data-bs-target=`#allcompleteModal${task.id}`)
                                      i.fa.fa-check
                                    .modal.fade(tabindex='-1' id=`allcompleteModal${task.id}` aria-labelledby='allcompleteModalLabel' aria-hidden='true')
                                      .modal-dialog
                                        .modal-content
                                          .modal-header
                                            h5#editModalLabel.modal-title Görev henüz bitmedi mi?
                                          .modal-body.text-left
                                            .form
                                              form.d-flex.justify-content-around(action=`/homepage/complete/${data.id}` method='POST')
                                                input.d-none(type="text", name="id" value=`${task.id}`)
                                                .button
                                                  input.btn.btn-success(type="submit", value="Evet") 
                                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Vazgeç

                                  if(data)

                                    if(data.isAdmin == true)

                                      button.border-0.btn-transition.btn.btn-outline-warning(type='button' data-bs-toggle='modal' data-bs-target=`#alleditModal${task.id}`)
                                        i.fa.fa-pen
                                      .modal.fade(tabindex='-1' id=`alleditModal${task.id}` aria-labelledby='alleditModalLabel' aria-hidden='true')
                                        .modal-dialog
                                          .modal-content
                                            .modal-header
                                              h5#editModalLabel.modal-title Görevi düzenle
                                            .modal-body.text-left
                                              .form
                                                form(action=`/homepage/update/${data.id}&${task.id}` method='POST')
                                                  .mb-2
                                                    label.form-label(for='task') Görev :
                                                    .inputTags
                                                      input.form-control.input(type='text' required autocomplete='off' value=`${task.description}` placeholder='Görev açıklaması...' id='task' name='description')
                                                      button.form-control.font(disabled)
                                                        i.fa-solid.fa-list-check
                                                  .mb-2
                                                    label.form-label(for='employee') Görevli 
                                                      sub (Çoklu seçmek için ctrl tuşuna basılı tutarak işaretleyin)
                                                    .inputTags
                                                      select.list-group(name='employee' id='employee' multiple)
                                                        each employee in users
                                                          if(task.employee.includes(employee.fullName))
                                                            option.list-group-item.active( value=`${employee.fullName}`) #{employee.fullName}
                                                          else
                                                            option.list-group-item( value=`${employee.fullName}`) #{employee.fullName}

                                                      button.form-control.font(disabled)
                                                        i.fa-solid.fa-user-pen
                                                  .button
                                                    input.form-control.input.btn.btn-primary.w-100(type='submit' value='Güncelle')
                                                  
                                            .modal-footer
                                              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') İptal
                                      button.border-0.btn-transition.btn.btn-outline-danger(type='button' data-bs-toggle='modal' data-bs-target=`#alldeleteModal${task.id}` )
                                        i.fa.fa-trash
                                      .modal.fade(tabindex='-1' id=`alldeleteModal${task.id}` aria-labelledby='alldeleteModalLabel' aria-hidden='true')
                                        .modal-dialog
                                          .modal-content
                                            .modal-header
                                              h5.modal-title Görevi silmek istediğinize emin misiniz?
                                            .modal-body.text-left
                                              .form
                                                form.d-flex.justify-content-around(action=`/homepage/delete/${data.id}` method='POST')
                                                  input.d-none(type="text", name="id" value=`${task.id}`)
                                                  .button
                                                    input.btn.btn-danger(type="submit", value="Sil") 
                                                  button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Vazgeç
                                        
                                    button.border-0.btn-transition.btn.btn-outline-secondary(type='button' data-bs-toggle='modal' data-bs-target=`#allinfoModal${task.id}` )
                                        i.fa-solid.fa-info
                                    .modal.fade(tabindex='-1' id=`allinfoModal${task.id}` aria-labelledby='allinfoModalLabel' aria-hidden='true')
                                      .modal-dialog
                                        .modal-content
                                          .modal-header
                                            h5#editModalLabel.modal-title Görev Hakkında
                                          .modal-body.text-left
                                            .mb-2
                                                label.form-label(for='task') Başlık :
                                                .inputTags
                                                  input.form-control.input(type='text' required autocomplete='off' value=`${task.title}` id='task' disabled name='title')
                                                  button.form-control.font(disabled)
                                                    i.fa-solid.fa-list-check
                                            .mb-2
                                              label.form-label(for='task') Açıklama :
                                              .inputTags
                                                textarea.form-control(name="description" rows='6' disabled) #{task.description}
                                                button.form-control.font(disabled)
                                                  i.fa-solid.fa-comment-medical
                                            if (task.file != "none")
                                              .mb-2
                                                label.form-label(for='task') Görev Dosyası :
                                                .inputTags
                                                  a(href=`/uploads/${task.file}` target='_blank') Görüntüle
                                              .mb-1.d-flex
                                                p.form-label Görev Durumu :
                                                  b Tamamlandı.
                                            .mb-2
                                              label.form-label(for='task') Görevli :
                                              .inputTags
                                                input.form-control.input(type='text' required autocomplete='off' value=`${task.employee}` id='task' disabled name='employee')
                                                button.form-control.font(disabled)
                                                  i.fa-solid.fa-user
                                          .modal-footer
                                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Kapat
                        
                        else

                          li.list-group-item.bg-light
                            .todo-indicator.bg-danger
                            .widget-content.p-0
                              .widget-content-wrapper
                                .widget-content-left
                                  .widget-heading
                                    | #{task.title} 
                                  .widget-subheading
                                    i Görevden Sorumlu : #{task.employee}
                                .widget-content-right

                                  if(task.employee.includes(data.fullName) || data.isAdmin == true)

                                    button.border-0.btn-transition.btn.btn-outline-info(type='button' data-bs-toggle='modal' data-bs-target=`#allstatusModal${task.id}`)
                                      i.fa-solid.fa-play
                                    .modal.fade(tabindex='-1' id=`allstatusModal${task.id}` aria-labelledby='allstatusModalLabel' aria-hidden='true')
                                      .modal-dialog
                                        .modal-content
                                          .modal-header
                                            h5#editModalLabel.modal-title Görev hangi aşamada?
                                          .modal-body
                                            form.statusForm(action=`/homepage/taskStatusUpdate/${task.id}` method='POST')
                                              .mb2
                                                select.form-select.w-80(name='status' id='status')
                                                  each status in allStatus 
                                                    option(value=`${status.name}` name='statusName') #{status.name}
                                              .mb2
                                                .button
                                                  input.btn.btn-success(type="submit", value="Güncelle") 
                                          .modal-footer
                                              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Vazgeç
                                
                                  if(data)

                                    if(data.isAdmin == true)

                                      button.border-0.btn-transition.btn.btn-outline-warning(type='button' data-bs-toggle='modal' data-bs-target=`#alleditModal${task.id}`)
                                        i.fa.fa-pen
                                      .modal.fade(tabindex='-1' id=`alleditModal${task.id}` aria-labelledby='alleditModalLabel' aria-hidden='true')
                                        .modal-dialog
                                          .modal-content
                                            .modal-header
                                              h5#editModalLabel.modal-title Görevi düzenle
                                            .modal-body.text-left
                                              .form
                                                form(action=`/homepage/update/${data.id}&${task.id}` method='POST')
                                                  .mb-2
                                                    label.form-label(for='task') Görev :
                                                    .inputTags
                                                      input.form-control.input(type='text' required autocomplete='off' value=`${task.description}` placeholder='Görev açıklaması...' id='task' name='description')
                                                      button.form-control.font(disabled)
                                                        i.fa-solid.fa-list-check
                                                  .mb-2
                                                    label.form-label(for='employee') Görevli 
                                                      sub (Çoklu seçmek için ctrl tuşuna basılı tutarak işaretleyin)
                                                    .inputTags
                                                      select.list-group(name='employee' id='employee' multiple)
                                                        each employee in users
                                                          if(task.employee.includes(employee.fullName))
                                                            option.list-group-item.active( value=`${employee.fullName}`) #{employee.fullName}
                                                          else
                                                            option.list-group-item( value=`${employee.fullName}`) #{employee.fullName}
                                                            
                                                      button.form-control.font(disabled)
                                                          i.fa-solid.fa-user-pen
                                                  .button
                                                    input.form-control.input.btn.btn-primary.w-100(type='submit' value='Güncelle')
                                                  
                                            .modal-footer
                                              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') İptal
                                      button.border-0.btn-transition.btn.btn-outline-danger(type='button' data-bs-toggle='modal' data-bs-target=`#alldeleteModal${task.id}` )
                                        i.fa.fa-trash
                                      .modal.fade(tabindex='-1' id=`alldeleteModal${task.id}` aria-labelledby='alldeleteModalLabel' aria-hidden='true')
                                        .modal-dialog
                                          .modal-content
                                            .modal-header
                                              h5#editModalLabel.modal-title Görevi silmek istediğinize emin misiniz?
                                            .modal-body.text-left
                                              .form
                                                form.d-flex.justify-content-around(action=`/homepage/delete/${data.id}` method='POST')
                                                  input.d-none(type="text", name="id" value=`${task.id}`)
                                                  .button
                                                    input.btn.btn-danger(type="submit", value="Sil") 
                                                  button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Vazgeç  
                                    button.border-0.btn-transition.btn.btn-outline-secondary(type='button' data-bs-toggle='modal' data-bs-target=`#allinfoModal${task.id}` )
                                        i.fa-solid.fa-info.fa-beat
                                    .modal.fade(tabindex='-1' id=`allinfoModal${task.id}` aria-labelledby='allinfoModalLabel' aria-hidden='true')
                                      .modal-dialog
                                        .modal-content
                                          .modal-header
                                            h5#editModalLabel.modal-title Görev Hakkında
                                          .modal-body.text-left
                                            .mb-2
                                                label.form-label(for='task') Başlık :
                                                .inputTags
                                                  input.form-control.input(type='text' required autocomplete='off' value=`${task.title}` id='task' disabled name='title')
                                                  button.form-control.font(disabled)
                                                    i.fa-solid.fa-list-check
                                            .mb-2
                                              label.form-label(for='task') Açıklama :
                                              .inputTags
                                                textarea.form-control(name="description" rows='6' disabled) #{task.description}
                                                button.form-control.font(disabled)
                                                  i.fa-solid.fa-comment-medical
                                            if (task.file != "none")
                                              .mb-2
                                                label.form-label(for='task') Görev Dosyası :
                                                .inputTags
                                                  a(href=`/uploads/${task.file}` target='_blank') Görüntüle
                                            .mb-1.d-flex
                                              p.form-label Görev Durumu :
                                                b #{activeStat.name}

                                            .mb-2
                                              label.form-label(for='task') Görevli :
                                              .inputTags
                                                input.form-control.input(type='text' required autocomplete='off' value=`${task.employee}` id='task' disabled name='employee')
                                                button.form-control.font(disabled)
                                                  i.fa-solid.fa-user
                                          .modal-footer
                                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Kapat
                      else
                        - i += 1;
                        if (i == tasks.length)
                          h3.p-4 Bu durumda görev bulunmamaktadır!


                    else 
                      if(task.complete == true)
                          li.list-group-item.complated
                            .todo-indicator.bg-success
                            .widget-content.p-0
                              .widget-content-wrapper
                                .widget-content-left
                                  .widget-heading
                                    | #{task.title}
                                    .badge.badge-success.ml-2 
                                      | Tamamlandı
                                  .widget-subheading
                                    i Görevden Sorumlu : #{task.employee}
                                .widget-content-right

                                  if(task.employee.includes(data.fullName) || data.isAdmin == true)

                                    button.border-0.btn-transition.btn.btn-outline-success(type='button' data-bs-toggle='modal' data-bs-target=`#allcompleteModal${task.id}`)
                                      i.fa.fa-check
                                    .modal.fade(tabindex='-1' id=`allcompleteModal${task.id}` aria-labelledby='allcompleteModalLabel' aria-hidden='true')
                                      .modal-dialog
                                        .modal-content
                                          .modal-header
                                            h5#editModalLabel.modal-title Görev henüz bitmedi mi?
                                          .modal-body.text-left
                                            .form
                                              form.d-flex.justify-content-around(action=`/homepage/complete/${data.id}` method='POST')
                                                input.d-none(type="text", name="id" value=`${task.id}`)
                                                .button
                                                  input.btn.btn-success(type="submit", value="Evet") 
                                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Vazgeç

                                  if(data)

                                    if(data.isAdmin == true)

                                      button.border-0.btn-transition.btn.btn-outline-warning(type='button' data-bs-toggle='modal' data-bs-target=`#alleditModal${task.id}`)
                                        i.fa.fa-pen
                                      .modal.fade(tabindex='-1' id=`alleditModal${task.id}` aria-labelledby='alleditModalLabel' aria-hidden='true')
                                        .modal-dialog
                                          .modal-content
                                            .modal-header
                                              h5#editModalLabel.modal-title Görevi düzenle
                                            .modal-body.text-left
                                              .form
                                                form(action=`/homepage/update/${data.id}&${task.id}` method='POST')
                                                  .mb-2
                                                    label.form-label(for='task') Görev :
                                                    .inputTags
                                                      input.form-control.input(type='text' required autocomplete='off' value=`${task.description}` placeholder='Görev açıklaması...' id='task' name='description')
                                                      button.form-control.font(disabled)
                                                        i.fa-solid.fa-list-check
                                                  .mb-2
                                                    label.form-label(for='employee') Görevli 
                                                      sub (Çoklu seçmek için ctrl tuşuna basılı tutarak işaretleyin)
                                                    .inputTags
                                                      select.list-group(name='employee' id='employee' multiple)
                                                        each employee in users
                                                          if(task.employee.includes(employee.fullName))
                                                            option.list-group-item.active( value=`${employee.fullName}`) #{employee.fullName}
                                                          else
                                                            option.list-group-item( value=`${employee.fullName}`) #{employee.fullName}

                                                      button.form-control.font(disabled)
                                                        i.fa-solid.fa-user-pen
                                                  .button
                                                    input.form-control.input.btn.btn-primary.w-100(type='submit' value='Güncelle')
                                                  
                                            .modal-footer
                                              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') İptal
                                      button.border-0.btn-transition.btn.btn-outline-danger(type='button' data-bs-toggle='modal' data-bs-target=`#alldeleteModal${task.id}` )
                                        i.fa.fa-trash
                                      .modal.fade(tabindex='-1' id=`alldeleteModal${task.id}` aria-labelledby='alldeleteModalLabel' aria-hidden='true')
                                        .modal-dialog
                                          .modal-content
                                            .modal-header
                                              h5.modal-title Görevi silmek istediğinize emin misiniz?
                                            .modal-body.text-left
                                              .form
                                                form.d-flex.justify-content-around(action=`/homepage/delete/${data.id}` method='POST')
                                                  input.d-none(type="text", name="id" value=`${task.id}`)
                                                  .button
                                                    input.btn.btn-danger(type="submit", value="Sil") 
                                                  button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Vazgeç
                                        
                                    button.border-0.btn-transition.btn.btn-outline-secondary(type='button' data-bs-toggle='modal' data-bs-target=`#allinfoModal${task.id}` )
                                        i.fa-solid.fa-info
                                    .modal.fade(tabindex='-1' id=`allinfoModal${task.id}` aria-labelledby='allinfoModalLabel' aria-hidden='true')
                                      .modal-dialog
                                        .modal-content
                                          .modal-header
                                            h5#editModalLabel.modal-title Görev Hakkında
                                          .modal-body.text-left
                                            .mb-2
                                                label.form-label(for='task') Başlık :
                                                .inputTags
                                                  input.form-control.input(type='text' required autocomplete='off' value=`${task.title}` id='task' disabled name='title')
                                                  button.form-control.font(disabled)
                                                    i.fa-solid.fa-list-check
                                            .mb-2
                                              label.form-label(for='task') Açıklama :
                                              .inputTags
                                                textarea.form-control(name="description" rows='6' disabled) #{task.description}
                                                button.form-control.font(disabled)
                                                  i.fa-solid.fa-comment-medical
                                            if (task.file != "none")
                                              .mb-2
                                                label.form-label(for='task') Görev Dosyası :
                                                .inputTags
                                                  a(href=`/uploads/${task.file}` target='_blank') Görüntüle
                                              .mb-1.d-flex
                                                p.form-label Görev Durumu :
                                                  b Tamamlandı.
                                            .mb-2
                                              label.form-label(for='task') Görevli :
                                              .inputTags
                                                input.form-control.input(type='text' required autocomplete='off' value=`${task.employee}` id='task' disabled name='employee')
                                                button.form-control.font(disabled)
                                                  i.fa-solid.fa-user
                                          .modal-footer
                                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Kapat
                        
                      else
                        li.list-group-item.bg-light
                          .todo-indicator.bg-danger
                          .widget-content.p-0
                            .widget-content-wrapper
                              .widget-content-left
                                .widget-heading
                                  | #{task.title} 
                                .widget-subheading
                                  i Görevden Sorumlu : #{task.employee}
                              .widget-content-right

                                if(task.employee.includes(data.fullName) || data.isAdmin == true)

                                  button.border-0.btn-transition.btn.btn-outline-info(type='button' data-bs-toggle='modal' data-bs-target=`#allstatusModal${task.id}`)
                                    i.fa-solid.fa-play
                                  .modal.fade(tabindex='-1' id=`allstatusModal${task.id}` aria-labelledby='allstatusModalLabel' aria-hidden='true')
                                    .modal-dialog
                                      .modal-content
                                        .modal-header
                                          h5#editModalLabel.modal-title Görev hangi aşamada?
                                        .modal-body
                                          form.statusForm(action=`/homepage/taskStatusUpdate/${task.id}` method='POST')
                                            .mb2
                                              select.form-select.w-80(name='status' id='status') 
                                                each status in allStatus
                                                  if(status.name == "Tümünü Gör")
                                                    continue
                                                  else
                                                    if(task.status == status.name)
                                                      option(value=`${status.name}` name='statusName' selected) #{status.name}
                                                    else
                                                      option(value=`${status.name}` name='statusName') #{status.name}
                                            .mb2
                                              .button
                                                input.btn.btn-success(type="submit", value="Güncelle") 
                                        .modal-footer
                                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Vazgeç
                              
                                if(data)

                                  if(data.isAdmin == true)

                                    button.border-0.btn-transition.btn.btn-outline-warning(type='button' data-bs-toggle='modal' data-bs-target=`#alleditModal${task.id}`)
                                      i.fa.fa-pen
                                    .modal.fade(tabindex='-1' id=`alleditModal${task.id}` aria-labelledby='alleditModalLabel' aria-hidden='true')
                                      .modal-dialog
                                        .modal-content
                                          .modal-header
                                            h5#editModalLabel.modal-title Görevi düzenle
                                          .modal-body.text-left
                                            .form
                                              form(action=`/homepage/update/${data.id}&${task.id}` method='POST')
                                                .mb-2
                                                  label.form-label(for='task') Görev :
                                                  .inputTags
                                                    input.form-control.input(type='text' required autocomplete='off' value=`${task.description}` placeholder='Görev açıklaması...' id='task' name='description')
                                                    button.form-control.font(disabled)
                                                      i.fa-solid.fa-list-check
                                                .mb-2
                                                  label.form-label(for='employee') Görevli 
                                                    sub (Çoklu seçmek için ctrl tuşuna basılı tutarak işaretleyin)
                                                  .inputTags
                                                    select.list-group(name='employee' id='employee' multiple)
                                                      each employee in users
                                                        if(task.employee.includes(employee.fullName))
                                                          option.list-group-item.active( value=`${employee.fullName}`) #{employee.fullName}
                                                        else
                                                          option.list-group-item( value=`${employee.fullName}`) #{employee.fullName}
                                                          
                                                    button.form-control.font(disabled)
                                                        i.fa-solid.fa-user-pen
                                                .button
                                                  input.form-control.input.btn.btn-primary.w-100(type='submit' value='Güncelle')
                                                
                                          .modal-footer
                                            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') İptal
                                    button.border-0.btn-transition.btn.btn-outline-danger(type='button' data-bs-toggle='modal' data-bs-target=`#alldeleteModal${task.id}` )
                                      i.fa.fa-trash
                                    .modal.fade(tabindex='-1' id=`alldeleteModal${task.id}` aria-labelledby='alldeleteModalLabel' aria-hidden='true')
                                      .modal-dialog
                                        .modal-content
                                          .modal-header
                                            h5#editModalLabel.modal-title Görevi silmek istediğinize emin misiniz?
                                          .modal-body.text-left
                                            .form
                                              form.d-flex.justify-content-around(action=`/homepage/delete/${data.id}` method='POST')
                                                input.d-none(type="text", name="id" value=`${task.id}`)
                                                .button
                                                  input.btn.btn-danger(type="submit", value="Sil") 
                                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Vazgeç  
                                  button.border-0.btn-transition.btn.btn-outline-secondary(type='button' data-bs-toggle='modal' data-bs-target=`#allinfoModal${task.id}` )
                                      i.fa-solid.fa-info.fa-beat
                                  .modal.fade(tabindex='-1' id=`allinfoModal${task.id}` aria-labelledby='allinfoModalLabel' aria-hidden='true')
                                    .modal-dialog
                                      .modal-content
                                        .modal-header
                                          h5#editModalLabel.modal-title Görev Hakkında
                                        .modal-body.text-left
                                          .mb-2
                                              label.form-label(for='task') Başlık :
                                              .inputTags
                                                input.form-control.input(type='text' required autocomplete='off' value=`${task.title}` id='task' disabled name='title')
                                                button.form-control.font(disabled)
                                                  i.fa-solid.fa-list-check
                                          .mb-2
                                            label.form-label(for='task') Açıklama :
                                            .inputTags
                                              textarea.form-control(name="description" rows='6' disabled) #{task.description}
                                              button.form-control.font(disabled)
                                                i.fa-solid.fa-comment-medical
                                          if (task.file != "none")
                                            .mb-2
                                              label.form-label(for='task') Görev Dosyası :
                                              .inputTags
                                                a(href=`/uploads/${task.file}` target='_blank') Görüntüle
                                          .mb-1.d-flex
                                            p.form-label Görev Durumu :
                                              b #{task.status}

                                          .mb-2
                                            label.form-label(for='task') Görevli :
                                            .inputTags
                                              input.form-control.input(type='text' required autocomplete='off' value=`${task.employee}` id='task' disabled name='employee')
                                              button.form-control.font(disabled)
                                                i.fa-solid.fa-user
                                        .modal-footer
                                          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Kapat


               
                
        if(data.isAdmin== true)
          div.d-block.text-center.card-footer
            button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#addModal') Görev Ekle
            #addModal.modal.fade(tabindex='-1' aria-labelledby='addModalLabel' aria-hidden='true')
              .modal-dialog
                .modal-content
                  .modal-header
                    h5#addModalLabel.modal-title Görev Ekle
                  .modal-body.text-left
                    .form
                      form(action=`/homepage/add/${data.id}` enctype="multipart/form-data" method='POST')
                        .mb-2
                          label.form-label(for='task') Görev Başlığı :
                          .inputTags
                            input.form-control.input(type='text' required autocomplete='off' placeholder='Görev Başlığı...' id='task' name='title')
                            button.form-control.font(disabled)
                              i.fa-solid.fa-list-check
                        .mb-2
                          label.form-label(for='task') Görev Açıklaması :
                          .inputTags
                            textarea.form-control(name="description" placeholder='Görev Açıklaması...' required autocomplete='off') 
                            button.form-control.font(disabled)
                              i.fa-solid.fa-comment-medical
                        .mb-2
                          label.form-label(for='task') Görev Dosyası :
                          .inputTags
                            input(type="file" name="myImage" accept="*")
                        .mb-2
                          label.form-label(for='employee') Görevli 
                            sub (Çoklu seçmek için ctrl tuşuna basılı tutarak işaretleyin)
                          .inputTags
                            select.list-group(name='employee' id='employee' multiple required)
                              each employee in users
                                option.list-group-item( value=`${employee.fullName}`) #{employee.fullName}
                            button.form-control.font(disabled)
                              i.fa-solid.fa-user-pen
                        .button
                          input.form-control.input.btn.btn-primary.w-100(type='submit' value='Ekle')
                        
                  .modal-footer
                    button.btn.btn-secondary(type='button' data-bs-dismiss='modal') İptal

script(src="/js/task.js")